body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #22254b;
    line-height: 0;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    max-width: 1440px;
}

.header,
.footer {
    background-color: #373b69;
}

.footer-container,
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.main-container {
    width: 95%;
    margin: auto;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.text {
    margin: 10px;
    padding: 0 20px;
    height: 30px;
    width: 150px;
    border: 2px solid #22254b;
    border-radius: 25px;
    background-color: #22254b;
    color: white;
}

.main-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-item {
    background-color: #373b69;
    margin-top: 20px ;
    width: 300px;
    position:relative;
}

.main-item .poster {
    width: 300px;
    height: 450px;
}

.info {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overview {
    width: 260px;
    height: 200px;
    background-color: white;
    color: black;
    position: absolute;
    max-height: 100%;
    padding: 20px;
    bottom: 0;
}

.footer {
    margin-top: 20px;
}

.footer-info{
    display: flex;
    align-items: center;
}

.footer-info p,
.footer-info a {
    margin-right: 20px;
    font-weight: 400;
}

.logo-rss {
    background-image: url('./assets/rss.svg');
    width: 100px;
    height: 37px;
}